*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background
{
    width: 100%;
    height: 100vh;
    background-image: url("https://media.istockphoto.com/id/517188688/photo/mountain-landscape.jpg?s=1024x1024&w=0&k=20&c=z8_rWaI8x4zApNEEG9DnWlGXyDIXe-OmsAyQ5fGPVV8=");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;
}
#wave
{
    position: absolute;
    bottom: 0;
}